*{
	font-family: roboto, sans-serif, arial !important;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li{
	list-style: none;
}
body{
	background: #fff;
}
.fixed-top-right{
	position: fixed;
	top: 30px;
	right: 0px;
}
.w-custom-alert{
	width: 480px!important;
}
.homeContent{
	text-align: center;
}
.ratio{
	border-radius: .5em;
}
.test-id{
	resize: none;
	height: 41vh;
	max-height: 41vh;
	overflow-y: scroll;
}
.test-id-err::placeholder{
	color: #dc3545;
}
.test-content{
	position: relative;
}
.test-container{
	margin-bottom: 10em;
}
.count-result{
	position: absolute;
	top: 0px;
	right: 0px;
}
.bg-primary{
	background: #008ED6 !important;
}
.btn-primary{
	background: #008ED6 !important;
}
.iphone{
	max-width: 290px;
}
.card-text{
	text-align: center!important;
}
.text-primary{
	color: #008ED6 !important;
}
.container-phone{
	position: relative;
	height: min-content;
	margin: auto;
	max-width: 425px;
}
.phone-1, .phone-2{
	width: 91%;
    border-radius: 3em;
    background: url(../home/nsd-screen.png) no-repeat center center;
    height: 35em;
}
.phone-1{
	z-index: 10000;
	margin: auto;
    background: url(../home/nsd-screen2.png) no-repeat center center;
}
.phone-2{
	display: none;
}
.brand-text{
	text-align: center;
	display: flex;
	width: 100%;
	max-width: 320px;
}
.firstCharacter{
	position: relative;
	width: 74%
}
.iphone-introduce{
	max-width: 320px;
}
.backgroundCharacter{
	background: #008ED6!important;
	top: 0px;
	right: 0px;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100%;
	clip-path: polygon(11% 0%, 107% -200%, 80% 100%, 15% 80%)
}
.lastCharacter{
	position: absolute;
	left: 87%;
	top: 0px;
	color: #008ED6;
}
.brand-text{
	margin: auto;
	border-bottom: 2px solid #d9d9d9;
}
.sub-brand{
	text-align: center;
}
.container-phone{
	height: 560px;
}
.introduce{
	width: 95%;
	margin: auto;
}
.introduce-title{
	font-size: 23px;
	margin-bottom: 1em;
}
.introduce-text{
	margin-bottom: 1em;
	font-size: 17px;
}
.introduce-title, .introduce-text{
	line-height: 1.5em;
}
.last-title{
	font-size: 20px;
}
.last-text{
	font-size: 14px;
}
.introduce-img{
	width: 95%;
	margin: auto;
	height: 20vh;
	background: url(../home/information.jpg) no-repeat center;
	background-size: 90%;
	transition: .5s;
}
.introduce-img:hover{
	background-size: 100%;
}
.introduce p{
	font-size: 12px;
}
.list-text{
	line-height: 1em;
	font-style: italic;
	font-size: 14px!important;
}
.last-tab{
	margin-top: 10em;
	margin-bottom: 10em;
}
.last-tab h1{
	font-size: 25px;
}
.bestClient-text{
	max-width: 520px;
    margin: auto;
    padding-bottom: 2em;
}
.last-line{
	width: 80%;
	max-width: 400px;
	background-color: #d9d9d9;
}
.card{
	width: 100%;
}
.introduce-guest{
	flex-wrap: wrap;
}
@media screen and (min-width: 411px){
	.introduce-img{
		height: 25vh;
	}
	.phone-1, .phone-2{
		position: absolute;
	}
	.phone-2{
		display: block;
		top: -27px;
		right: 0px;
	}
}
@media screen and (min-width: 520px){
	.introduce-img{
		height: 30vh;
	}
}
@media screen and (min-width: 568px){
	
}
@media screen and (min-width: 625px){
	.introduce-img{
		height: 35vh;
	}
}
@media screen and (min-width: 730px){
	.introduce-img{
		height: 40vh;
	}
}
@media screen and (min-width: 768px){
	.container-introduce{
		display: flex;
	}
	.container-introduce-content div{
		height: 25vh;
	}
	.introduce-title{
		font-size: 22px;
	}
	.last-title{
		font-size: 25px;
	}
	.introduce-ctn{
		flex-wrap: wrap;
	}
	.introduce-ctn p{
		width: 50%;
	}
	.introduce-guest{
		flex-wrap: wrap;
	}
	.card{
		width: 50%;
	}
	.card div img{
		width: 95px;
		height: 95px;
	}
}
@media screen and (min-width: 800px){
	.introduce-img{
		height: 45vh;
	}
}
@media screen and (min-width: 940px){
	.introduce-img{
		height: 50vh;
	}
	.container-introduce-content{
		margin-top: 5em;
	}
}
@media screen and (min-width: 1024px){
	.homeContent-container{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.advertising{
		font-size: 35px;
	}
	.advertising-text{
		font-size: 20px;
	}
	.brand{
		width: 58%;
		margin-top: 14em;
	}
	.container-phone{
		width: 80%;
	}
	.container-monetize{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.container-monetize div{
		margin-top: 1em;
		margin-bottom: 1em !important;
		width: 50%;
	}
	.container-monetize div div{
		width: 100%;
	}
	.introduce-img{
		height: 30vh;
		background-size: 95%;
		margin-top: 0px!important;;
	}
	.introduce p{
		text-align: left;
	}
	.introduce-ctn p{
		width: 33.33%;
	}
	.bestClient-text{
		text-align: center!important;
		font-size: 25px!important;
	}
	.bestClient{
		font-size: 35px!important;
	}
	.introduce-img:hover{
		background-size: 97%;
	}
}
@media screen and (min-width: 1200px){
	.introduce-img{
		height: 35vh;
	}
	.container-phone{
		margin-left: 0px;
	}
}
@media screen and (min-width: 1368px){
	.introduce-img{
		height: 40vh;
		max-width: 600px;
	}
	.container-monetize-last{
		height: 40vh;
		max-width: 600px;
	}
	.container-monetize-last div{
		margin-top: 4.4em;
	}
	.brand{
		width: 50%;
	}
	.container-phone{
		margin-left: 5%;
	}
	.card{
		width: 25%;
	}
}